

.form {
    width: 150%;
    padding: 15px;
    margin-top: 15%;
    margin-left: 10%;
    position: relative;
    text-anchor: start;
    height: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 26px;
    border-radius: 25px;
    border-color: black;
    margin-bottom:20px; 
    text-align: start;
    text-emphasis: emphasis;
    white-space: pre-line;

  }
 
.FA{
    height: 100%;
    width: 210px;
    margin-left: 132%;
}
.view{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    border-color: black;
    margin-left: 10%;
    background-color: rgb(233, 239, 252);
    height: 150px;
}
.first{
    margin-right: 50%;
   
}