.postButton{
    width: 20%;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left:80%
}

.content{
    
    vertical-align: 50%;
}

.userRating{
    float:left;
}
.averageRating{
    float: right;
}

.answerButton{
    position: relative;
    margin-top: 10%;
}
.imageAlign{
    height: 300px;
    width: 70%;
    margin-left: 15%
}